{{!-- Main handlebars --}}

<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>KantoQuest</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css"/>
  </head>

  <body>

    {{! <!-- Top Navbar --> }}
   <nav class="nav-wrapper red">
      <a href="/" class="brand-logo center black-text">KantoQuest</a>

      <ul class="left">
        <li><a href="/">Homepage</a></li>
        <li><a href="/dashboard">User Dashboard</a></button>
      </ul>
      <ul class="right">
        <li><a href="/pokedex">Pokedex</a></li>
        {{#if logged_in}}
        <li><a href="/" id="logout">Logout</a></button>
        {{else}}
        <li><a href="/login">Sign-up</a></button>
        {{/if}}
        <li><a href="https://github.com/RyanMcd29/pokemon-battle/" target="_blank">Our GitHub</a></li>
      </ul>
    </nav>


{{!-- Add mobile navbar here --}}
    {{! <!-- Content Container --> }}
    <main>
      {{{body}}}
    </main>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

  </body>
</html>