<section>
    {{!-- Users Party on the left --}}
    <div>
        <h3>My Party</h3>
        <img>
        <img>
        <img>
        <img>
        <img>
        <img>
    </div>
    {{!-- Middle of screen User pokemon vs CPU pokemon --}}
    <div>
        {{!-- User Pokemon --}}
        <div>
            <p>Your Battling Pokemon</p>
            <img>
        </div>
        {{!-- CPU Pokemon --}}
        <div>
            <p>Wild Pokemon</p>
            <img>
        </div>
    </div>
    {{!-- Battle Button --}}
    <div>
        <button>Battle!</button>
    </div>
</section>