{{! <!-- Hero Image Container --> }}
<div class="hero-container">
  <img src="/images/hero-image.jpg" alt="Hero Image" />
  {{! Displayed on the right half of screen }}
  <div class="hero-content">
    <h1>Hall of Fame</h1>
    <p>Your champions go here</p>
    <button class="hero-button">Learn More</button>
  </div>
  <div>
    {{! Link at the bottom Right }}
    <a href="https://github.com/RyanMcd29/pokemon-battle/" target="_blank">Our
      GitHub</a>
  </div>
</div>