<style>
  main {
    background-image: url(assets/homepage_bg.png);
    background-size: cover;
    background-position:center;
    width: 100%;
    min-height: 100vh;
  }
  .hall-of-fame {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    border-bottom: 5px rgb(0,0,128) solid;
  }

  .text-blue-bold {
    color: rgb(0,0,128);
    font-weight: bold;
    text-shadow: 1px 1px 5px white;
  }

  .title-card {
    background-color: rgba(255, 0, 0, 0.562);
    border-radius: 10px;
    padding: 1% 1% 3% 1%;
    text-shadow: 5px 5px 5px black;
  }
</style>

{{!-- FIXME: I look a bit ugly --}}
<br>
<br>
<br>
<br>
<br>

<div>
  <div class="row">
    <div class="col s12 m8">
      <h5 class="left white-text title-card">
        <img src="https://www.freeiconspng.com/uploads/file-pokeball-png-0.png" width="40" alt="Pokeball"/> Battle pokemon to collect them in your Pokedex!
        <br><img src="https://www.freeiconspng.com/uploads/pokemon-pikachu-png-2.png" width="40" alt="Pikachu" /> Test your knowledge of Type match ups!
        <br><img src="/assets/pokemon-icicle-badge.png" width="40" alt="Badge"> Earn the biggest streak to get placed on the Hall of Fame!</h5>
    </div>
    <div class="col s12 m8 l6">
      {{#if trainers.length}}
      <div class="col s11 offset-s1 hall-of-fame">
        {{!-- TODO: Order the hall of fame trainers --}}
        
        <h2 class="center text-shadow text-blue-bold"><img src="/assets/pokemon-icicle-badge.png" width="40" alt="Badge"> Hall of Fame! <img src="/assets/pokemon-thunder-badge.png" width="40" alt="Badge"></h2>
      </div>
      <div>
        <div class="col s11 offset-s1 hall-of-fame">
          {{#each trainers as |trainer|}}
            <div class="row s4">
              <ol class="trainer collection-item">
                <h4 class="header left">{{username}} - {{total_score}} points! </h4>
              </ol>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>
   {{/if}}




{{!-- <div>
  <div class="row">
  <br>
  <div class="col s6">
  <div class="col s11 offset-s1 hall-of-fame">
    <h3 class="left white-text text-shadow ">Hall of Fame!</h3>
  </div>
  <div>
      <div class="col s11 offset-s1 hall-of-fame">
      <img width="75" height="75" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png">
      <img width="75" height="75" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/2.png">
      <img width="75" height="75" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/3.png">
      <img width="75" height="75" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/4.png">
      <img width="75" height="75" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/5.png">
      <img width="75" height="75" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/6.png">
      <h5 class="header left">10 Wins</h5>
      </div>
  </div>
  <div>
          <div class="col s11 offset-s1 hall-of-fame">
      <img width="75" height="75" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/11.png">
      <img width="75" height="75" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/12.png">
      <img width="75" height="75" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/13.png">
      <img width="75" height="75" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/14.png">
      <img width="75" height="75" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/15.png">
      <img width="75" height="75" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/16.png">
      <h5 class="header left">8 Wins</h5>
      </div>
  </div>
  <div>
          <div class="col s11 offset-s1 hall-of-fame">
      <img width="75" height="75" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/21.png">
      <img width="75" height="75" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/22.png">
      <img width="75" height="75" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/23.png">
      <img width="75" height="75" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/24.png">
      <img width="75" height="75" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png">
      <img width="75" height="75" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/26.png">
      <h5 class="header left">7 Wins</h5>
      </div>
  </div>
  <div>
      <div class="col s11 offset-s1 hall-of-fame">
      <img width="75" height="75" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/31.png">
      <img width="75" height="75" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/32.png">
      <img width="75" height="75" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/33.png">
      <img width="75" height="75" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/34.png">
      <img width="75" height="75" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/35.png">
      <img width="75" height="75" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/36.png">
      <h5 class="header left">6 Wins</h5>
      </div>
  </div>
  </div>
  </div>
</div> --}}