<style>
  main {
    background-image: url(assets/pokedex-background.jpg);
  }
</style>

{{!-- Center of Page --}}
<section class="container row">
  <div class="col s12">
    {{!-- Search Bar --}}
    <div class="card">
      <label for="pokedex-search">Search:</label>
      <input type="text" id="pokedex-search"/>
    </div>
    {{#each pokemons as |pokemon|}}
    {{!-- An Individual Pokemons Pokedex Info--}}
      {{> pokedex-entry}}
    {{/each}}
    </div>
</section>