<section>
  {{! User Pokedex info on the left }}
  <div>
    <h3>User Pokedex</h3>
    <p>Edit Party</p>
    {{! Pokemon sprites }}
    <img />
    <img />
    <img />
    <img />
    <img />
    <img />
  </div>

  {{! Buttons and Highscore for current party }}
  <div>
    <button>Select a Pokemon to Battle</button>
    <button>Battle a wild Pokemon</button>
    <p>Your parties highest score: 4</p>
  </div>

</section>