<style>
  main {
    background-image: url(assets/pokedex-background.jpg);
  }
</style>

{{!-- Center of Page --}}
<section class="background">
    <section class="container row col s6 pokedex-container">
        <section class="col s3">
            <h3>Your Party</h3> 
            <div class="row" id="party-box">
                <div class="col s5 z-depth-3 party-pokemon-card">
                    <button class="remove-pokemon">x</button>
                    <div class="pokemon-details">
                        <img class="party-img" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/24.png">
                        <p class="party-name">name</p>
                    </div>
                </div>

                <div class="col s5 z-depth-3 party-pokemon-card">
                    <button class="remove-pokemon">x</button>
                    <div class="pokemon-details">
                        <img class="party-img" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/124.png">
                        <p class="party-name">name</p>
                    </div>
                </div>

                <div class="col s5 z-depth-3 party-pokemon-card">
                    <button class="remove-pokemon">x</button>
                    <div class="pokemon-details">
                        <img class="party-img" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/137.png">
                        <p class="party-name">name</p>
                    </div>
                </div>

                <div class="col s5 z-depth-3 party-pokemon-card">
                    <button class="remove-pokemon">x</button>
                    <div class="pokemon-details">
                        <img class="party-img" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/5.png">
                        <p class="party-name">name</p>
                    </div>
                </div>

                <div class="col s5 z-depth-3 party-pokemon-card">
                    <button class="remove-pokemon">x</button>
                    <div class="pokemon-details">
                        <img class="party-img" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/2.png">
                        <p class="party-name">name</p>
                    </div>
                </div>

                <div class="col s5 z-depth-3 party-pokemon-card">
                    <button class="remove-pokemon">x</button>
                    <div class="pokemon-details">
                        <img class="party-img" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/2.png">
                        <p class="party-name">name</p>
                    </div>
                </div>

            </div>
            
            <button class="row btn" id="save-party">Save Party</button>
        </section>

        <div class="col s9" id="pokedex">
            {{!-- Search Bar --}}
            <div class="card">
                <label for="pokedex-search">Search:</label>
                <input type="text" id="pokedex-search"/>
            </div>
            <div id="trainer-pokedex">
                {{#each pokemons as |pokemon|}}
                {{!-- An Individual Pokemons Pokedex Info--}}
                {{> trainer-pokedex-entry}}
                {{/each}}
            </div>
            
        </div>
    </section>
</section>

<script src="/js/party.js"></script>