h3 {
	color: white
	;
}

.party-pokemon-card {
	display: block;
	justify-content: center;
	background-color: rgb(53, 53, 53);
	height: 150px;
	margin: 10px;
	border-radius: 20px;
	border: white;
}

.party-pokemon-card img {
	height: auto;
	width: 100%;
	position: relative;
	top: 10px;
}

.party-name {
	color: white;
	text-align: center;
}

.remove-pokemon {
	border-radius: 100%;
	background: red;
	color: white;
	position: absolute;
}
.add-pokemon {
	border-radius: 100%;
	background: rgb(5, 170, 46);
	color: white;
	position: absolute;
}

#save-party{
	color: white;
	background-color: teal;
	width: 90%;
	margin: 0px 20px;
	margin-left: auto;
	margin-right: auto;
	height: 50px;
}
.pokedex-container{
	padding-top: 50px;
	height: 800px;
	background-color: rgb(24, 24, 24);
	padding: 20px;
}

.background{
	padding-top: 200px;
	height: 100vh;
}


#trainer-pokedex{
	height: 600px;
	overflow-y: auto;
	padding: 20px;

}
/* CSS for Pokedex Types */
.pkn-type {
    color: white;
    border: 2px solid #000;
	border-radius: 20px;
	padding: 4px 16px;
}

.pokemon {
    border: 2px solid #ff0000;
	border-radius: 20px;
	padding: 4px 16px;
}

.pkn-type-empty {
    color: white;
    border: 2px solid #ffffff;
	border-radius: 20px;
	padding: 4px 16px;
}

.empty {
    background-color: white;
    color: white;
}
.empty:after {
    content: "Empty"
}

.normal {
	background-color: #A8A878;
	border-color: #6D6D4E;
}
.normal:after {
	content: 'Normal';
}

.fire {
	background-color: #F08030;
	border-color: #9C531F;
}
.fire:after {
	content: 'Fire';
}

.water {
	background-color: #6890F0;
	border-color: #445E9C;
}
.water:after {
	content: 'Water';
}

.electric {
	background-color: #F8D030;
	border-color: #A1871F;
}
.electric:after {
	content: 'Electric';
}

.grass {
	background-color: #78C850;
	border-color: #4E8234;
}
.grass:after {
	content: 'Grass';
}

.ice {
	background-color: #98D8D8;
	border-color: #638D8D;
}
.ice:after {
	content: 'Ice';
}
.fighting {
	background-color: #C03028;
	border-color: #7D1F1A;
}
.fighting:after {
	content: 'Fighting';
}

.poison {
	background-color: #A040A0;
	border-color: #682A68;
}
.poison:after {
	content: 'Poison';
}

.ground {
	background-color: #E0C068;
	border-color: #927D44;
}
.ground:after {
	content: 'Ground';
}

.flying {
	background-color: #A890F0;
	border-color: #6D5E9C;
}
.flying:after {
	content: 'Flying';
}

.psychic {
	background-color: #F85888;
	border-color: #A13959;
}
.psychic:after {
	content: 'Psychic';
}

.bug {
	background-color: #A8B820;
	border-color: #6D7815;
}
.bug:after {
	content: 'Bug';
}
.rock {
	background-color: #B8A038;
	border-color: #786824;
}
.rock:after {
	content: 'Rock';
}
.ghost {
	background-color: #705898;
	border-color: #493963;
}
.ghost:after {
	content: 'Ghost';
}

.dragon {
	background-color: #7038F8;
	border-color: #4924A1;
}
.dragon:after {
	content: 'Dragon';
}

.dark {
	background-color: #705848;
	border-color: #49392F;
}
.dark:after {
	content: 'Dark';
}

.steel {
	background-color: #B8B8D0;
	border-color: #787887;
}
.steel:after {
	content: 'Steel';
}

.fairy {
	background-color: #EE99AC;
	border-color: #9B6470;
}
.fairy:after {
	content: 'Fairy';
}

/*  */